p {
  color: #4378A7;
  text-decoration: none
}

div {
  color: #4378A7;
  border: 1px solid #717C96;
  text-decoration: none;
  width: 400px;
  height: 400px;
  text-align: center;
  margin-top: 100px;
  padding-top: 100px;
  background-color: #D3D3D3
}

.letter {
  background-color: #4378A7;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px
}

.form-control{
  margin-top: 10px
}
